<style type="text/css">
    #mynetwork {
        width: calc(45vw);
        height: calc(90vh);
        border: 1px solid lightgray;
        color: #000000;
    }
</style>


<div animated-from-right>
<div class="pageTtile">Home / Organizations</div>
    Enter Share Type:<input type="text" ng-model="orgCtrl.shapeType">
    <button type="button" ng-click="orgCtrl.changeShape()">Go</button>
    <diy-process-diagram data="data" options="options" height="100%" call-back-service="HomeFactory"> </diy-process-diagram>
</div>
